div.keyboard-key {
   width: 40px;
   height: 40px;

   display: flex;
   justify-content: center;
   align-items: center;

   border-radius: 8px;
   border: 1px solid var(--text-200);

   &.status-null {
      background-color: transparent;
   }
   &.status-false {
      background-color: var(--red);
   }
   &.status-true {
      background-color: var(--primary-300);
   }

   span {
      font-size: 16px;
      font-family: var(--roboto);
      color: var(--text-200);
   }
}