span.text {
   font-size: 16px;

   &.align-left {
      text-align: left;
   }
   &.align-center {
      text-align: center;
   }
   &.align-right {
      text-align: right;
   }

   &.weight-500 {
      font-weight: 500;
   }
   &.weight-600 {
      font-weight: 600;
   }
   &.weight-700 {
      font-weight: 700;
   }

   &.color-main {
      color: var(--text-100);
   }
   &.color-gray {
      color: var(--text-200);
   }
   &.color-inverse {
      color: var(--text-300);
   }
   &.color-primary {
      color: var(--primary-100);
   }
   &.color-primary-dark {
      color: var(--primary-300);
   }

   &.underline-true {
      text-decoration: underline 1.5px;
   }

   &.cursor-block {
      &::after {
         content: '|';
         position: absolute;
         color: transparent;
         background-color: color-mix(in srgb, var(--text-200) 20%, transparent);
      }
   }
   &.cursor-line {
      border-right: 2px solid color-mix(in srgb, var(--text-200) 20%, transparent);
   }
}