:root {
   --colorTone: 175; // Change only this parameter;
   --colorX: 41%;
   --colorY: 58%;
   --decrement: 15%;

   --primary-100: hsl(var(--colorTone), var(--colorX), var(--colorY));
   --primary-200: hsl(var(--colorTone), var(--colorX), calc(var(--colorY) - var(--decrement)));
   --primary-300: hsl(var(--colorTone), var(--colorX), calc(var(--colorY) - var(--decrement) * 2));

   --red: #a55d5f;
}